@model Library.Models.Catalog.AssetDetailModel

<div class="container">
    <div class="page-header clearfix detailHeading">
        <h2 class="text-muted">View Library Item</h2>
    </div>
</div>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <div>
                <img class="detailImage" src="@Model.ImageUrl"/>
            </div>
        </div>
        <div class="col-md-4">
            <p id="itemTitle">@Model.Title</p>
            <p id="itemAuthor">@Model.AuthorOrDirector</p>
            <p id="itemStatus">@Model.Status</p>
            <p id="itemType">@Model.Type</p>
            <p id="itemLocation">@Model.CurrentLocation</p>


            @if(Model.Status == "Checked Out")
            {
                <p id="itemPatron">Checked Out By: @Model.PatronName</p>
            }

            @if(Model.Status == "Available")
            {
                <p><a class="btn btn-lg btn-info" role="button" asp-controller="Catalog" as-action="Checout" asp-route-id="@Model.AssetId">Check Out</a></p>
            }
        </div>
    </div>
</div>